<html>
<head>
  <!-- Include A-Frame library -->
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>
<body>
  <!-- Display the 3D model -->
  <a-scene>
    <a-entity glTF-model="/models/zanatomy.glTF" position="0 0 -1"></a-entity>
  </a-scene>
</body>
</html>
