<div class = "category-background">
  
  <h1 class = "d-flex align-items-center justify-content-center text-white" style="height: 50vh; font-family: sans-serif;">
    Select a cateogry
  </h1>
  
 <div class="d-flex justify-content-center align-items-end" style="height: 5vh;">
 <% @list_of_categories.each do |a_category| %>
  <form action="/insert_test_question" method = "post">
  <input type ="hidden" name="question_ids" value = "<%= a_category.questions.ids %>">
    <!-- Buttons for each category -->
    <button type="submit" class="btn btn-primary text-white custom-btn-size mx-3" style="background-color: #<%= "%06x" % (rand * 0xffffff) %>; border-color: #<%= "%06x" % (rand * 0xffffff) %>; padding: 50px 50px; font-size: 30px; width: 300px;">
      <%= a_category.name %>
    </button>
    </form>
  <% end %>
</div>

</div>
